<h1>Publisher Feed</h1>
<%= form_for(@publisher_feed) do |f| %>
  <%= render 'error_messages'%>
  <div class="field">
  	<%= f.label :name %>
  	<%= f.text_field :name %>
  </div>
  <div class="field">
  	<%= f.label :description %>
  	<%= f.text_field :description %>
  </div>
  <div class="action">
  	<%= f.submit "Create"%>
  </div>
  <p>Back to <%= link_to "Feeds Page", :controller => "feeds", :action => "index" %></p>
<% end %>