<h1>Newfeed</h1>
<%= form_for(@newsfeed, url: admin_newsfeeds_path) do |newsfeed| %>

  <div class="field">
    <%= newsfeed.label :publisher %>
    <%= select_tag("newsfeed[publisher_id]", options_for_select(@publisher_array)) %>
  </div>
  
  <div class="field">
    <%= newsfeed.label :category %>
    <%= select_tag("newsfeed[category_id]", options_for_select(@category_array)) %>
  </div>
  
  <div class="field">
    <%= newsfeed.label :feed_urls %>
    <%= newsfeed.text_field :feed_urls %> (in CSV format)
  </div>
  
  <div class="action">
    <%= newsfeed.submit "Create"%>
  </div>
  
  <div>
    <% if Newsfeed.count > 0 %>
    <br />
      <p>Current Newsfeeds:</p>
      <table>
        <tr>
          <th>Publisher</th>
          <th>Category</th>
          <th>Feed URLs</th>
        </tr>
        <% Newsfeed.all.each do |newsfeed| %>
          <tr>
            <td> <%= Publisher.find(newsfeed.publisher_id).name %></td>
            <td> <%= Category.find(newsfeed.category_id).name %></td>
            <td> 
              <% if newsfeed.feed_urls.count > 0 %>
                <ul>
                  <% newsfeed.feed_urls.each do |url| %>
                    <li><%= url %></li>
                  <% end %>
                </ul>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>
  <p>Back to <%= link_to "Admin Page", admin_index_path %></p>

<% end %>