<h1>Publisher - Category</h1>
<%= form_for(@pub_cat) do |pc| %>

  
  
  <div class="field">
  	<%= pc.label :publisher %>
  	<%= select_tag("pub_cat[publisher_id]", options_for_select(@publisher_array)) %>
  </div>
  
  <div class="field">
  	<%= pc.label :category %>
  	<%= select_tag("pub_cat[category_id]", options_for_select(@category_array)) %>
  </div>
  
  <div class="field">
  	<%= pc.label :feed_urls %>
  	<%= pc.text_field :feed_urls %>
  </div>
  
  <div class="action">
  	<%= pc.submit "Create"%>
  </div>
  <p>Back to <%= link_to "Admin Page", :controller => "admin", :action => "index" %></p>
  
  <ul>
  <% @pub_cat_array.each do |pub_cat|%>
    <li> <%= "PubCat ID: "+ pub_cat['_id'] + " => [" + pub_cat['publisher'].keys[0] + "] " + pub_cat['publisher'].values[0] + " - [" + pub_cat['category'].keys[0] + "] " + pub_cat['category'].values[0]  %> </li>
  <% end%>
  </ul>
<% end %>