<h1>Publisher</h1>
<%= form_for(@publisher) do |f| %>
  <div class="field">
  	<%= f.label :name %>
  	<%= f.text_field :name %>
  </div>
  
  <div class="action">
  	<%= f.submit "Create"%>
  </div>
  <p>Back to <%= link_to "Admin Page", :controller => "admin", :action => "index" %></p>
<% end %>