<h1>Publisher</h1>
<%= form_for(@publisher, url: admin_publishers_path) do |f| %>
  <div class="field">
  	<%= f.label :name %>
  	<%= f.text_field :name %>
  </div>
  
  <div class="action">
  	<%= f.submit "Create"%>
  </div>
  
  <div>
    <% if Publisher.count > 0 %>
    <br />
      <p>Current Publishers:</p>
      <ul>
        <% Publisher.all.each do |publisher| %>
          <li> <%= publisher.name %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  
  <p>Back to <%= link_to "Admin Page", admin_index_path %></p>
<% end %>