<h1>Category</h1>
<%= form_for(@category, url: admin_categories_path) do |f| %>
  <div class="field">
  	<%= f.label :name %>
  	<%= f.text_field :name %>
  </div>
  
  <div class="action">
  	<%= f.submit "Create"%>
  </div>
  
  <div>
    <% if Category.count > 0 %>
    <br />
      <p>Current Categories:</p>
      <ul>
        <% Category.all.each do |category| %>
          <li> <%= category.name %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <p>Back to <%= link_to "Admin Page", admin_index_path %></p>
<% end %>